@font-face {
  font-family: 'Isidora';
  src: url('../fonts/isidora/Isidora-Regular.otf');
}

@font-face {
  font-family: 'Isidora';
  src: url('../fonts/isidora/Isidora/Isidora-Bold.otf');
  font-weight: bold;
}

.price_donate_suggested_currency {
    display: none;
}

.price_donate_suggested {
    font-weight: bold;
}

#payment_intervals {
    text-align: left;
    font-weight: bold;
}

#payment_intervals label {
    font-weight: bold;
}

#payment_intervals > div > div > label > input[type=radio] {
    accent-color: red;
    transform: scale(1.5);
    margin-right: 8px;
}

/* Price suggestions */
#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div {
    float: left;
    width: 100%;
    display: flex;
    gap: 10px;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div {
    flex-grow: 1;
}

#wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div > div {
    width: 100%;
}

@media (max-width: 600px) {
  #wsd_checkout_form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div {
    display: block;
  }
}

body, .price_donate_suggested, .form-control, .control-label {
    font-family: Isidora;
}

.price_donate_suggested {
    background-color: white;
    border-color: #E1CA99;
    border-width: 2px;
    border-radius: 5px;
    color: black;
}

.price_donate_suggested:hover {
    background-color: white;
    border-color: #E1CA99;
    color: black;
}

.price_donate_suggested:active, .price_donate_suggested:focus, .price_donate_suggested:focus-visible {
    background-color: #E1CA99 !important;
    border-color: #E1CA99 !important;
    color: black;
    outline: transparent !important;
}

.price_donate .input-group .input-group-addon:last-of-type  {
    display: none;
}

.price_donate .input-group .form-control:not(:first-child):not(:last-child) {
    border-width: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.price_donate .input-group-addon:first-of-type {
    border-width: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 1.0;
}

div.js_product {
    display: grid;
}

h4#payment_intervals {
    order: -2;
}

div[itemprop="offers"] {
    order: -1;
}

body .oe_website_sale .row .row .col-md-12 {
  float: none;
}

.ppt_opc .payment_interval_ids small.payment_interval_info.text-muted {
    display:none;
}

#payment_intervals > hr {
    display: none;
}

#wsd-checkout-box > div > div > h1 {
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-size: 48px;
    margin-bottom: 10px;
}

#wsd-checkout-box > div > div > div.checkoutbox_product_image {
    display: none;
}

#description_sale > p {
    font-size: 20px;
    color: black;
    text-align: left;
    font-weight: bold;
}
