/* ATTENTION: FIX HEIGHT CALCULATION OF THE IFRAME RESIZER
              !!!THE TAGGED ELEMENT MUST BE A BLOCK ELEMENT OR IT WILL NEVER RELEASE ITS HEIGHT!!!
              SO ALT LEAST THE TAGGED <main data-iframe-height="True"> element MUST BE A BLOCK ELEMENT!!!
*/
/* ATTENTION: Do not change the <footer> or <header> display css attribute or you may override the display: None of the widget domain template !!! */
body #wrapwrap main {
    display: block;
}

/* FOOTER */
body #wrapwrap footer {
    /* ATTENTION: The height should not be 100% for any many element or iframeresizer may just expand but never shrink the iframe!
                  <footer> and <header> is normally not used for the iframeresizer height calculation but for savety reasons we i reset it here
    */
    height: auto;
}


/* ------------------- */
/* BOOTSTRAP MODAL BOX */
/* ------------------- */
/* Modal Box Trigger */
.btn-link.information-modal-box-trigger:hover {
    color: #8c8c8c;
}

/* -------------------- */
/* BOOTSTRAP NAVIGATION */
/* -------------------- */
.navbar-default .navbar-nav > li > a {
    color: #66666;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.dropdown-menu > li > a {
    color: white;
}
.dropdown-menu {
    background-color: #736664;
}
.dropdown-menu > li > a:hover {
    color: white;
    background-color: #666666;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background-color: #8c8c8c;
}


/* ------------------- */
/* DEFAULT ODOO COLORS */
/* ------------------- */
body .oe_grey {
    background-color: #eee !important;
}
body .oe_grey_light {
    background-color: #eeeeeec7 !important;
}
body .oe_red {
    background-color: #ea470d !important;
    color: white;
}
body .oe_white {
    background-color: #ffffff !important;
}
body .oe_green {
    background-color: #63bc46 !important;
}
body .oe_blue {
    background-color: #35477a !important;
    color: white;
}
label.control-label.mandatory.text-danger {
    color: #c30000;
}
label.control-label.mandatory.text-danger:after {
    content: " *";
}
